<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
   <head>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://bootswatch.com/quartz/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<style>
   body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.container-fluid {
   padding: 25px;
  display: grid;
  grid-template-columns: 1fr;
  border-radius: 10px;
  gap: 10px 2em;
}
label {
   width: 200px;
   display: inline-block;
   text-align: right;
}
h1{
   margin-left: auto;
}
.column1
{
   color:black;
   border-radius: 10px;
   border-style:solid;
}
.img-fluid
{
  object-fit: none;
}
</style>

</head>
   <body>
      <div >
         <div>
            <div>
             <p>
            </p>
            <form action ="/resources" method="post">
               <h1>Back to work!</h1>
               <div class="row main">
             

             <div class="column1 col-sm-6">
                 
               <div class="container-fluid">
                  <div class="form-group">
                        <label>Age:</label>
                        <input type="text"  name="age">
                  </div>
                           <div class="form-group">
                              <label>Gap:</label>
                              <input type="text" id="gap">
                           </div>
                           <div class="form-group">
                              <label>Experience:</label>
                              <input type="text"id="experience">
                           </div>
                           <div class="form-group">
                              <label>Domain:</label>
                              <select name="domain" id="domain">
                                 <option id=""></option>
                                 <option id="information_technology">Information Technology</option>
                                 <option id="project_management">Project Management</option>
                                 <option id="human_resources">Human Resources</option>
                                 <option id="pyschology">Pyschology</option>
                                 <option id="culinary">Culinary</option>
                                 <option id="education">Education</option>
                                 <option id="legal">Legal</option>
                                 <option id="medicine">Medicine</option>
                                 <option id="interior_design">Interior Design</option>
                                 <option id="media">Media</option>
                              </select>
                           </div>
                           <div class="form-group">
                              <label>Highest level of Education:</label>
                              <select name="education" id="education">
                                 <option id =""></option>
                                 <option id="bachelor_degree">Bachelor Degree</option>
                                 <option id="masters_degree">Masters Degree</option>
                                 <option id="phd">Doctoral (PhD)</option>
                              </select>
                           </div>
                           <div class="form-group">
                              <label>State:</label>
                                 <select id="state" name="state">
                                    <option value=""></option>
                                    <option value="AK">Alaska</option>
                                    <option value="AL">Alabama</option>
                                    <option value="AR">Arkansas</option>
                                    <option value="AZ">Arizona</option>
                                    <option value="CA">California</option>
                                    <option value="CO">Colorado</option>
                                    <option value="CT">Connecticut</option>
                                    <option value="DC">District of Columbia</option>
                                    <option value="DE">Delaware</option>
                                    <option value="FL">Florida</option>
                                    <option value="GA">Georgia</option>
                                    <option value="HI">Hawaii</option>
                                    <option value="IA">Iowa</option>
                                    <option value="ID">Idaho</option>
                                    <option value="IL">Illinois</option>
                                    <option value="IN">Indiana</option>
                                    <option value="KS">Kansas</option>
                                    <option value="KY">Kentucky</option>
                                    <option value="LA">Louisiana</option>
                                    <option value="MA">Massachusetts</option>
                                    <option value="MD">Maryland</option>
                                    <option value="ME">Maine</option>
                                    <option value="MI">Michigan</option>
                                    <option value="MN">Minnesota</option>
                                    <option value="MO">Missouri</option>
                                    <option value="MS">Mississippi</option>
                                    <option value="MT">Montana</option>
                                    <option value="NC">North Carolina</option>
                                    <option value="ND">North Dakota</option>
                                    <option value="NE">Nebraska</option>
                                    <option value="NH">New Hampshire</option>
                                    <option value="NJ">New Jersey</option>
                                    <option value="NM">New Mexico</option>
                                    <option value="NV">Nevada</option>
                                    <option value="NY">New York</option>
                                    <option value="OH">Ohio</option>
                                    <option value="OK">Oklahoma</option>
                                    <option value="OR">Oregon</option>
                                    <option value="PA">Pennsylvania</option>
                                    <option value="PR">Puerto Rico</option>
                                    <option value="RI">Rhode Island</option>
                                    <option value="SC">South Carolina</option>
                                    <option value="SD">South Dakota</option>
                                    <option value="TN">Tennessee</option>
                                    <option value="TX">Texas</option>
                                    <option value="UT">Utah</option>
                                    <option value="VA">Virginia</option>
                                    <option value="VT">Vermont</option>
                                    <option value="WA">Washington</option>
                                    <option value="WI">Wisconsin</option>
                                    <option value="WV">West Virginia</option>
                                    <option value="WY">Wyoming</option>
                                 </select>
                           </div>
                           <div class="form-group">
                              <label>Type of Job:</label>
                              <select id="job">
                                 <option id=""></option>
                                 <option id="full_time">Full-time</option>
                                 <option id='part_time'>Part-time</option>
                                 <option value="internship">Internship</option>
                                 <option value="co_op">Co-op</option>
                              </select>
                           </div>
                           <div class="form-group">
                              <label>Salary expectation:</label>
                              <input type="text" id="salary">
                              
                           </div>
                           <div class="form-group">
                           <button href="/resources" class="btn btn-primary" id="btnSearch" style="float: right;">Explore</button>
                        </div>
                           </div> 
             </div>
               <div class="column col-sm-6">
                  <img src="https://cdn4.vectorstock.com/i/1000x1000/45/88/women-empowerment-cartoon-people-different-vector-35404588.jpg" class="img-fluid" alt="Responsive image">
               </div>
               </div>
            </form>

            </div>
         </div>
           
         </div>
      </div>
   </body>
</html>