<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
   <head>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://bootswatch.com/quartz/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<style>
   body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.container-fluid {
   padding: 25px;
  display: grid;
  grid-template-columns: 1fr;
  border-radius: 10px;
  gap: 10px 2em;
}
label {
   width: 200px;
   display: inline-block;
   text-align: right;
}
h1{
   margin-left: auto;
}
.column1
{
   color:black;
   border-radius: 10px;
   border-style:solid;
}
.img-fluid
{
  object-fit: none;
}
</style>

</head>
   <body>
      <div >
         <div>
            <div>
             <p>
            </p>
            <form action ="/" method="post">
               <h1>Back to work!</h1>
               <div class="row main">
             <div class="column1 col-sm-8">
               <div class="container-fluid">
                <h4> Domain Selected: Interior Design</h4>
                  <div class="form-group">
                      <h4> Below are the roles you can apply to!</h4>
                      <ul>
                          <li> <b> Architect </b><a href="https://www.linkedin.com/jobs/view/architectural-designer-at-dorian-bahr-2998603734/?utm_campaign=google_jobs_apply&utm_source=google_jobs_apply&utm_medium=organic">Apply</a></li>
                          <li><b>Interior Designer architect </b><a href="https://www.linkedin.com/jobs/view/2987528926/?eBP=CwEAAAF_7CK4aHjjJIR8FDs0QjefhXv7YH3BU-h5eLhQrvsXnlT6Zp6ilubSvS-Y92s_83X1ma2VuQ7TSmPLy5PgR-2gsNXGTzIhYrHPwKHY16eFKDbN9wLUTZ1C2qhP7bI9AOdS1XRglSK1IUf3JYCf0-8IJfpOHXTAKzBbnKpKrdTDQgtL9Sbhoi1ROCviUI88v4xT4mVv3UzWfOf5s9yP2AHvsiK1Zh_k_8fpzD3K5iN1SQuKCC866k0Pr9qIK4p2EK9KCQwfpkbzU_LsgbKfga4j1HbcZJlqIAS39Hrki-EfFUDvHpYicWx7lsISkEciBZnE3v7ququB8pJgwzvKSAM&recommendedFlavor=ACTIVELY_HIRING_COMPANY&refId=GclJstb6xwURwcSjWGjoAg%3D%3D&trackingId=TF8%2BS%2FXNi8lVVYAbkfJ2Lw%3D%3D&trk=flagship3_search_srp_jobs">Apply</a></li>
                          <li><b>Lead Interior Designer architect </b><a href = "https://www.linkedin.com/jobs/view/2990109699/?eBP=CwEAAAF_7CK4aPlYjLSaHNUi0gO4zKxcyjCJAXhRMSvhUBAIQmliPB0cezO6BAF7OPWhnlfjkfjKPH2-Cv3PqPPZV1hZvmz9ut8XNU3lAhvFi73sQFz7zURj0TdOR6MD-SAz5AcM4UkjneOcnDIJzlQtkJBLImk_d87bQbcFCoxPD1jtqhEnYtBDHuYdHA3kK7SafMhEJumvrSjV-v6egUIT9EWMrh1KHPyBal9n-QwYMftVwu8cjmXzD7rCjSUTRrm9vX-4htopD3-Yidc6XrtQoRLMDLB7Caiy_YYSSSoWkv460_dG-AXwWC7Gmek4oa5I0SEF19qBI2A7F62-zAfMH4I&recommendedFlavor=SCHOOL_RECRUIT&refId=GclJstb6xwURwcSjWGjoAg%3D%3D&trackingId=SQILX6PBL2x1E1N959sLuA%3D%3D&trk=flagship3_search_srp_jobs">Apply</a></li>
                          <li><b>Interior Designer architect </b><a href="https://www.linkedin.com/jobs/view/2814418663/?alternateChannel=search&refId=GclJstb6xwURwcSjWGjoAg%3D%3D&trackingId=BNv%2BlBxWZxobpvHvdZqkiw%3D%3D">Apply</a></li>
                          <li><b>Studio Interior Designer architech </b><a href="https://www.linkedin.com/jobs/view/2989619824/?eBP=JOB_SEARCH_ORGANIC&recommendedFlavor=SCHOOL_RECRUIT&refId=GclJstb6xwURwcSjWGjoAg%3D%3D&trackingId=%2Fb0epfAeeHklio2ysklGHg%3D%3D&trk=flagship3_search_srp_jobs">Apply</a></li>
                        </ul>
                        </div>
                        </div>
                        </div>
               <div class="column col-sm-4">
                  <img src="https://cdn4.vectorstock.com/i/1000x1000/45/88/women-empowerment-cartoon-people-different-vector-35404588.jpg" class="img-fluid" alt="Responsive image">
               </div>
               </div>
            </form>
         
            </div>
         </div>
           
         </div>
      </div>
   </body>
</html>