<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
   <head>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://bootswatch.com/quartz/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<style>
   body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.container-fluid {
   padding: 25px;
  display: grid;
  grid-template-columns: 1fr;
  border-radius: 10px;
  gap: 10px 2em;
}
label {
   width: 200px;
   display: inline-block;
   text-align: right;
}
h1{
   margin-left: auto;
}
.column1
{
   color:black;
   border-radius: 10px;
   border-style:solid;
}
.img-fluid
{
  object-fit: none;
}
</style>

</head>
   <body>
      <div >
         <div>
            <div>
             <p>
            </p>
            <form action ="/" method="post">
               <h1>Back to work!</h1>
               <div class="row main">
             <div class="column1 col-sm-8">
               <div class="container-fluid">
                <h4> Domain Selected: Legal </h4>
                  <div class="form-group">
                      <h4> Below are the roles you can apply to!</h4>
                      <ul>
                          <li> <b> Trial Attorneys </b><a href="https://thomasjhenrylaw.com/jointheteam/senior-litigation-attorney-g/?utm_source=google&utm_medium=search&utm_campaign=ttc-bkw&gclid=Cj0KCQjw6J-SBhCrARIsAH0yMZj15XhUhQ29Q2O7TvYc-beWcqzTJo28y9j8VdtGEbRu1kOm-QNBaK4aAkq3EALw_wcB">Apply</a></li>
                          <li><b>Family Law Attorney </b><a href="https://www.bcgsearch.com/jobdetail/OFRZ250896/job.html?utm_campaign=google_jobs_apply&utm_source=google_jobs_apply&utm_medium=organic">Apply</a></li>
                          <li><b>Senior Legal Counsel </b><a href = "https://www.google.com/search?q=legal+job+oepnings&sxsrf=APq-WBvEW8SowyS0MVsIRXVkKgL5sQNJNA:1648935161265&ei=-cBIYp3jD8qnqtsP-M6hyAI&uact=5&oq=legal+job+oepnings&gs_lcp=Cgdnd3Mtd2l6EAMyBwgAEMkDEA0yBAgAEA0yBAgAEA0yBAgAEA0yBAgAEA0yBAgAEA0yBAgAEA0yBAgAEA0yBAgAEA0yBAgAEA06BwgAEEcQsAM6BggAEBYQHjoFCAAQhgM6BAgjECc6BQgAEIAEOggIABCABBDJAzoFCAAQkQI6DQgAEIAEEIcCEMkDEBQ6CggAEIAEEIcCEBQ6CAgAEMkDEJECOggIIRCgARCLA0oECEEYAEoECEYYAFCFB1ibJGD2JGgBcAF4AIABY4gBiwiSAQIxNZgBAKABAcgBCLgBAsABAQ&sclient=gws-wiz&ibp=htl;jobs&sa=X&ved=2ahUKEwjc-7eYqvb2AhVIlmoFHYo9CKEQkd0GegQIPhAB#fpstate=tldetail&htivrt=jobs&htiq=legal+job+oepnings&htidocid=2iX47rsGmKkAAAAAAAAAAA%3D%3D">Apply</a></li>
                          <li><b>Family Law Attorney </b><a href="https://www.ziprecruiter.com/c/Law-Office-Of-David-S.-Bouschor,-II,-P.C./Job/Family-Law-Attorney/-in-Denton,TX?jid=48361ed55a6098f8&utm_campaign=google_jobs_apply&utm_source=google_jobs_apply&utm_medium=organic">Apply</a></li>
                          <li><b>Legal Vice President </b><a href="https://goldman-sachs.talentify.io/job/legal-richardson-vice-president-business-unit-legal-richardson-texas-goldman-sachs-93517?utm_campaign=google_jobs_apply&utm_source=google_jobs_apply&utm_medium=organic">Apply</a></li>
                      </ul>
                        </div>
                        </div>
                        </div>
               <div class="column col-sm-4">
                  <img src="https://cdn4.vectorstock.com/i/1000x1000/45/88/women-empowerment-cartoon-people-different-vector-35404588.jpg" class="img-fluid" alt="Responsive image">
               </div>
               </div>
            </form>
               
            </div>
         </div>
           
         </div>
      </div>
   </body>
</html>